.footer {
  font-size: var(--font-size-footer);
  line-height: 18px;
}

.footer a:link,
.footer a:visited {
  color: var(--color-secondary);
  text-decoration: none;
  margin-right: 8px;
  display: inline-block;
  font-weight: 500;
}

.footer-part-A {
  padding: 16px 24px;
}

.footer-part-B {
  padding-left: 24px;
}

.copyright {
  color: #717171;
  font-size: 1.2rem;
  margin-left: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}
