:root {
  --font-base: "Roboto", sans-serif;
  --font-size-base: 1.4rem;
  --font-size-headings: 1.6rem;
  --font-size-medium: 1.2rem;
  --font-size-footer: 1.3rem;
  --font-size-small: 1rem;
  --background-color: #0f0f0f;
  --color-primary: #f1f1f1;
  --color-secondary: #aaa;
  --color-tertiary: #3ea6ff;
  --color-hover-base: #282828;
  --color-hover-secondary: #212121;
  --icon-base-height: 2.4rem;
  --icon-base-width: 2.4rem;
  --scrollbar-width: 1.8rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: var(--font-base);
  background-color: var(--background-color);
}
